<div class="form">
  <h3>Book this flat</h3>
  <form action="#">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <input type="text" placeholder="checkin" class="form-control">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <input type="text" placeholder="checkout" class="form-control">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <select id="favorite" name="language" class="form-control">
            <option value="1 guest">1 guest</option>
            <option value="2 guests">2 guests</option>
            <option value="3 guests">3 guests</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12">
        <input type="submit" value="Sign In" class="btn btn-danger form-control">
      </div>
    </div>
  </form>
</div>
