.flat-owner-container {
  background-color: white;
}
.flat-info {
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 0;
}
.flat-owner {
  text-align: center;
  margin-right: 20px;
  p {
    margin: 0;
  }
}
.flat-location {
  h3 {
    font-size: 20px;
    margin: 5px 0;
  }
  p {
    font-size: 15px;
    margin: 0;
    padding: 12px 0;
  }
}
.img-owner {
  width: 80px;
  height: 80px;
}
.rating-stars {
  color: #FFBA00;
  margin: 0;
  font-size: 13px;
}
.flat-info-container {
  background-color: #F5F5F5;
  border-top: 2px solid #EDEDED;
  font-size: 15px;
}
.row-owner {
  margin: 20px;
}
.flat-description {
  p {
    text-align: justify;
  }
  h3 {
    font-size: 20px;
  }
}
hr {
  margin: 25px 0;
  border-top: 1px solid #EDEDED;
}
.row-flat {
  margin-top: 30px;
}
.row-middle {
  p {
    color: #797272;
    font-size: 13px;
  }
}
.row-last {
  p {
    color: #797272;
    font-size: 13px;
  }
  margin-bottom: 30px;
}
